{% extends 'base.html.twig' %}

{% block stylesheets%}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body_class %}{{ parent() }} page-loading{% endblock %}

{% block body %}
    <div id="login"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}