{% extends 'base.html.twig' %}

{% block stylesheets%}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body_class %}bg-dark{% endblock %}

{% block body %}
    <div id="login" class="d-flex flex-column flex-root"></div>
{% endblock %}

{% block javascripts %}
    {% block globals %}
        <script>
          window.app = {
            url: '{{ app_url }}',
          }
        </script>
    {% endblock %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}