/* latin */
@font-face {
    font-family: 'Poppins';
    src: url("font/Poppins-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    src: url("font/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    src: url("font/Poppins-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    src: url("font/Poppins-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    src: url("font/Poppins-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}