//
// Theme style
//

// Initialize
@import "init";

// Components
@import "components/components";


// Layout
@import "layout/layout";

.error-message {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  color: $danger;
  font-size: .925rem;
  font-weight: 400;
}